<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
<div layout:fragment="main-content">
  <h1>Something Bad Happened!</h1>
  <h2>This might be to several reasons.Some of them are:</h2>
  <h3>1)In case you are editing/filling out a form make sure that all the fields are filled out properly!</h3>
  <h3>2)If you are trying to donate to a project or see its details make sure the project is first approved!</h3>
  <h3>3)There is an internal server error.Make sure to contact us about it!</h3>



</div>
</body>
</html>