<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>My Notifications</title>
</head>
<body>
<div layout:fragment="main-content">
    <h2>My Notifications</h2>
    <table>
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Notification Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td>
                <a th:href="@{'/projects/' + ${notification.relatedProject.id}}" th:text="${notification.relatedProject.name}"></a>
            </td>
            <td th:text="${notification.message}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <div th:if="${#lists.isEmpty(notifications)}">
        <p>You have no notifications.</p>
    </div>
</div>
</body>
</html>