<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${ not#lists.isEmpty(projects)}">
        <table>
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Funding Goal</th>
                <th>Current Funding</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.name}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.fundingGoal} + '$'"></td>
                <td th:text="${project.currentFunding} + '$'"></td>
                <td>
                    <a th:href="@{'/projects/' + ${project.id}}">Details</a>
                    <a sec:authorize="hasRole('SUPPORTER')" th:href="@{'/projects/donate/' + ${project.id}}">Donate</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(projects)}">
       <h1> No Projects yet stay tuned! </h1>
    </div>
</div>
</body>
</html>